<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336619668827-a57a0mq0imdqpfriabn1eo8rflkp5aks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336619668827-a57a0mq0imdqpfriabn1eo8rflkp5aks</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>336619668827-gfgracg0ubnkkmeb5md3ttadmi9t2vn1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtHRncE9kg2ZbGoAnDEVt4GkKkZBfzoME</string>
	<key>GCM_SENDER_ID</key>
	<string>336619668827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.souvikbiswas.flutterfireExamples</string>
	<key>PROJECT_ID</key>
	<string>brisull-lfl-flutterfile</string>
	<key>STORAGE_BUCKET</key>
	<string>brisull-lfl-flutterfile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336619668827:ios:f85f31e5c1a78ed1ebc67e</string>
</dict>
</plist>